{% extends "base.html.twig" %}

{% block body %}
<div class="about-container">
    <img src=" {{asset('img/about.jpg')}} " alt="photo profile yse masutti">
    <div class="about-text">
        <p>Illustratrice parisienne j’ai été formé à Esag Penninghen et à l’Ecole de
            Condé. <br>
            Maintenant en freelance, je travaille à la fois pour des cityguide avec Paris
            Zig Zag, pour des boutiques, des magazines que pour des campagnes. <br>
            Mon univers peut paraître très tourné vers la mode, ce qui est le cas, je suis
            une passionnée par ce milieu mais je m’adapte bien que ce soit lifestyle
            ou illustration jeunesse. Je suis ouverte aux différentes propositions,
            si le projet me plaît je vais toujours faire en sorte de le pousser le plus loin
            possible même si ça me paraissait étranger. Pour moi c’est comme celà
            qu’on grandit, que l’on apprend, que l’on s’enrichit.</p>
    </div>
</div>
{% endblock %}
