{% extends 'base.html.twig' %}

{% block body %}
    <div class="illustration-single-container">
        <h1>{{ illustration.title }}</h1>
        <div class="illustration-single">
            <div class="illustration-single-text">
                {{illustration.text | raw}}
                <button data-no-swup class="button" id="checkout" data-stripe="{{stripe_session.id}}" href="">Acheter</button>
            </div>
            <div class="illustration-single-img">
                <img src=" {{ vich_uploader_asset(illustration, 'imageFile')}} " alt="">
            </div>
        </div>
    </div>
{% endblock %}

