{% extends 'base.html.twig' %}

{% block title %}Hello StoreController!{% endblock %}

{% block body %}
    <div>
        <p>Une erreur s'est produite mais ne vous inquiétez pas rien ne vous a été prélevé !</p>
    </div>
{% endblock %}
