{% extends 'base.html.twig' %}

{% block title %}Hello StoreController!{% endblock %}

{% block body %}
    <div>
        <p>Félicitation votre paiement à bien été effectué !</p>
        <p>Un reçu vient de vous être envoyé et votre commande sera envoyé d'ici 3 à 5 jours.</p>
        <p>Pour toute question ou réclamation envoyez moi un email en cliquant ici => <a href="mailto:masutti.y@hotmail.fr">Ysé</a></p>
    </div>
{% endblock %}
