{% extends "base.html.twig" %}

{% block body %}
    <h1>Erreur 404 - Page introuvable</h1>
    <p>La page que vous recherchez n'existe pas !</p>
    <a href="{{path('home')}}" class="button">Retour à l'acceuil -></a>
{% endblock %}